/*!
 * SGS - Sistema de Gestão de Seguros
 * Projeto: Camada de Interface de Usuário - Componente Web Responsivo
 * Autor: Danilo Sgrott
 * Modulo: areaLogada.css
 * Objetivo: Arquivo CSS de estilo para a pagina de Area Logada
 */


body {
  background-color: #fffefe;
  overflow:hidden;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

iframe {
  position: absolute;
  top: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

h4 {
  color: rgb(22, 122, 246);
  font-weight: bold;
}



#blanket,#aguarde {
  position: fixed;
  display: none;
}

#blanket {
  left: 0;
  top: 0;
  background-color: #f0f0f0;
  filter: alpha(opacity =         65);
  height: 100%;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  opacity: 0.65;
  z-index: 9998;
}

#aguarde {
  width: auto;
  height: 30px;
  top: 40%;
  left: 45%;
  background: url('http://i.imgur.com/SpJvla7.gif') no-repeat 0 50%;
  line-height: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 9999;
  padding-left: 27px;
}
