<!DOCTYPE html>
<!--EJS Template da página de erro 404 (Página não encotrada)-->
 <html lang="pt-br"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../img/favicon.ico">

    <title>404-Not Found - SGS - Sistema de Gestão de Seguros</title>

    <!-- Principal CSS do Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body class="text-center">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    
                    <img src="../img/404-2.jpg" alt="" width="500" height="500">  
                    
                    <h1>Oops!</h1>
                    <h2>404 Not Found</h2>

                    <div class="error-details">
                        Desculpe, ocorreu um erro, a página solicitada não existe!
                    </div>

                    &nbsp;
                    <div class="error-actions">
                        <a href="/login" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                            Voltar...</a>
                    </div>
</body></html>