<!DOCTYPE html>
<!--EJS Template da página de area logada do usuário-->
<html lang="pt-br"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../img/favicon.ico">

    <title>SGS - Sistema de Gestão de Seguros</title>

    <!-- Principal CSS do Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Estilos customizados para esse template -->
    <link href="../css/areaLogada.css" rel="stylesheet">
         
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../js/login.js"></script>
  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white">
      <h4 class="my-0 mr-md-auto font-weight-normal"> <a class="p-2 text-primary" href="/home" target="_parent">SGS - Sistema de Gestão de Seguros</a></h4>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" id="link" href="/notFunc?page=cadprod" target="frame">Cadastro de Produtos</a>
        <a class="p-2 text-dark" id="link" href="/emisNV" target="frame">Seguro Novo</a>
        <a class="p-2 text-dark" id="link" href="/notFunc?page=endosso" target="frame">Endosso</a>
        <a class="p-2 text-dark" id="link" href="/consulta" target="frame">Consultas</a>
        <a class="p-2 text-dark" id="link" href="/notFunc?page=rel" target="frame">Relatórios</a>
        <a class="p-2 text-dark" id="link" href="/notFunc?page=conf" target="frame">Configurações</a>
      
      </nav>
      <a class="btn btn-outline-primary" href="/logout">Logout</a>
    </div>

    <div id="blanket"></div>
    <div id="aguarde">Aguarde...</div>

    <div class="container">

      <iframe class="iframe" src="<%= page %>" name="frame" id="iframe-id" onload="iframeDoIT()">

      </iframe>
    </div>
    

</body></html>