<!doctype html>
<!--EJS Template da página de consulta do usuário-->
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../img/favicon.ico">

    <title>Emissao Page - SGS - Sistema de Gestão de Seguros</title>

    <!-- Principal CSS do Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/consultaForm.css" rel="stylesheet">

  </head>

  <body class="bg-light">

    <script src="../js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../js/consultaForm.js"></script>

    <script>
            $(window).load(function(){
                $('div.loading').fadeOut(1000);
            });
    </script>

    <div class="loader"></div>

    <div class="container"> 

      <div class="py-5 text-center">
  
        <h2>Formulário de consulta de Emissão de Seguro Novo</h2>
        <p class="lead">Consulte aqui as 30 ultimas propostas enviadas para contratação de seguro.</p>
        <small>* Esta página não esta na relação de funcionalidades escolhidas, mas foi implementado algo basico para facilitar a navegação do projeto.</small>
      </div>

      <form class="needs-validation" action="/consulta" method="post" id="consultaForm">  
      
        <input type="hidden" id="postId" name="postId" value="">

        <div class="row">

        <div class="table-responsive">

          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Identificação</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Tipo</th>
                <th scope="col">Status</th>
                <th scope="col">Data Criação</th>
              </tr>
            </thead>

            <tbody id="myTable">
              <% for (let value of documentos) { %>
              <tr>
                <th scope="row"><button class="btn btn-outline-primary btn-sm" type="submit" onclick="formSubmit('<%= value._id %>')">Acessar</button></th>
                <th scope="row"><%= value._id %></th>
                <td><%= value.contratante.primeiroNome %> <%= value.contratante.sobrenome %>  </td>
                <td><%= value.contratante.cpf %> </td>
                <td><%= value.itemSegurado.tipo %> </td>
                <td class=     
                
                <% if (value.status == "Criticado" || value.status == "Novo"){ %>
                  "text-danger"
                <% }else if (value.status == "Validado" || value.status == "Calculado") {  %> 
                  "text-warning"
                <% }else{ %>  
                  "text-success"
                <% } %> 
                
                > <%= value.status %> </td>
                <td><%= value.Created_date %> </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <div class="col-md-12 text-center">
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
      </div>

          </form>
    </div>

  </body>
</html>
