<!doctype html>
<!--EJS Template da página de tela emissão-->
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../img/favicon.ico">

    <title>Emissao Page - SGS - Sistema de Gestão de Seguros</title>

    <!-- Principal CSS do Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/etapasForm.css" rel="stylesheet">

     <!-- Estilos customizados para esse template -->
     <link href="form-validation.css" rel="stylesheet">

     
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <script src="../js/etapasForm.js"></script>

  </head>

  <body class="bg-light">

    <div class="container"> 
      
      <div id="blanket"></div>
      <div id="aguarde">Aguarde...</div>


      <form class="needs-validation" id="formProposta" name="formProposta"  action=<% if (status == "Novo" || status == "Criticado" || status == "Validado"){ %>"/validar"<% }else if (status == "Calculado"){  %>"/emitir"<% }else { %>"#"<% }  %> method="post" novalidate>  

      <div class="py-5 text-center">
  
        <h2>Formulário de Emissão de Seguro Novo</h2>
        <p class="lead">Preencha os dados do formulário para iniciar a contratação do seguro.</p>
      </div>

      <div class="row" >

        <div class="col-lg-4 order-md-2 mb-3">

          <h6 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Status e Críticas</span>
          </h6>



          <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                      <div>
                        <h6 class="my-0">Status</h6>
                        <medium class="text-success"><input type="hidden" class="form-control" id="status" name="status" placeholder="" value="<%= status %>">
                        <%= status %>
                        </medium> 
                      </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                          <h6 class="my-0">Identificador</h6>
                          <small class="text-success"><input type="hidden" class="form-control" id="id" name="id" value="<%= _id %>">

                          <% if (_id == null || _id == "" || typeof _id == "undefined"){ %>
                            -- 
                          <% }else{  %> 
                            <%= _id %>
                          <% } %>   

                          </small>
                  </div>
              </li>

              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Data de Criação</h6>
                  <small class="text-success"><input type="hidden" class="form-control" id="createDate" name="createDate" value="<%= Created_date %>">
                  <% if (Created_date == null || Created_date == "" || typeof Created_date == "undefined"){ %>
                    -- 
                  <% }else{  %> 
                    <%= Created_date %>
                  <% } %>   
                  </small>
                </div>
              </li>


                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">Críticas</h6>
                    <small class="">

                      <table class="table table-sm text-danger" >
                        <% if (criticas.listaDeCriticas == null || criticas.listaDeCriticas == "" || typeof criticas.listaDeCriticas == "undefined"){ %>
                          <tr><td>Nenhuma crítica pendente!</td></tr>
                        <% }else{  %>
                          <% for (let value of criticas.listaDeCriticas) { %>
                          <tr><td><%= value %></td></tr>
                          <% } %>  
                        <% } %> 
                      </table>
                      </small>
                  </div>
                </li>
          </ul>












          <div style=<%= status == 'Calculado' || status == 'Emitido'? 'display:block;' : 'display:none;'%>>
              <h6 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Opção de Pagamento</span>
              </h6>
          
            <ul class="list-group mb-3">

                  <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                      <h6 class="my-0">Valor Total</h6>
                      <small class="text-dark">
                        <% if (opcoesDeCompra.valorTotal == null || opcoesDeCompra.valorTotal == "" || typeof opcoesDeCompra.valorTotal == "undefined"){ %>
                          R$ 0.00
                        <% }else{  %>
                          R$ <%= opcoesDeCompra.valorTotal %>
                        <% } %>   
                        </small>
                    </div>
                  </li>

            <li class="list-group-item d-flex justify-content-between lh-condensed">
              
                  <div style=<%= status == 'Calculado' ? 'display:block;' : 'display:none;'%>>
                          <div>
                            <h6 class="my-0">Opção de Pagamento</h6>
                          </br>
                          <small class="text-dark">
            
                              <select id="opcaoPagamento" name="opcaoPagamento" class="form-control" id="primeiroNome" placeholder="" required <%= status == 'Calculado' ? '' : 'disabled'%>>
                                <option value="">Escolha...</option>

                                <% for (let value of opcoesDeCompra.formaPagamento) { %>
                                  <option value=<%= value.id %>><%= value.forma %></option>
                                <% } %>  
                                </select>

                            </small>
                        </div>
                  </div>

                      <div style=<%= status == 'Emitido' ? 'display:block;' : 'display:none;'%>>
                            <div>
                              <h6 class="my-0">Forma de Pagamento Contratada</h6>
                              <small class="text-dark">
                                  <%= opcoesDeSelecao.formaPagamento.forma %>
                              </small>
                            </div>
                          </br>
                            <div>
                              <h6 class="my-0">Parcelas</h6>
                              <table class="table table-sm" >
                                <% for (let value of parcelas) { %>
                                  <tr><td><small><%= value.parcela %> - R$ <%= value.valor %>  - <%= value.status %> - <%= value.vencimento %>  </small></td></tr>
                                <% } %>  
                              </table>

                            </div>
                      </div>
              </li>
          
          </ul>

          <% if (status == "Calculado"){ %>
            <button class="btn btn-primary btn-sm btn-block btn-theme" name="cdi" onclick="javascript:document.getElementById('blanket').style.display = 'block';document.getElementById('aguarde').style.display = 'block';" type="submit">Emitir Seguro</button>
          </br>
          <% }  %>  

          <h6 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Integrações do Sistema</span>
          </h6>
      
          <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                      <table class="table table-sm" >
                          <% for (let value of integracoes) { %>
                            <tr><td><small><%= value %></small></td></tr>
                        <% } %>  
                      </table>
                  </li>
          </ul>
        </div></div>
        

        <div class="col-md-8 order-md-1">
          <h4 class="mb-3" >Dados do Contratante</h4>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="primeiroNome">Nome</label>
                <input type="text" class="form-control" id="primeiroNome" name="primeiroNome" placeholder="Seu nome..." value="<%= contratante.primeiroNome %>" required <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                <div class="invalid-feedback">
                  É obrigatório inserir um nome válido.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="sobrenome">Sobrenome</label>
                <input type="text" class="form-control" id="sobrenome" name="sobrenome" placeholder="Seu Sobrenome..." value="<%= contratante.sobrenome %>" required <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                <div class="invalid-feedback">
                  É obrigatório inserir um sobrenome válido.
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="nascimento">Nascimento</label>
                <input type="date" class="form-control" id="nascimento" name="nascimento" placeholder=""  value="<%= contratante.dataDeNascimento %>" required <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                <div class="invalid-feedback">
                  É obrigatório inserir uma data válida.
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="estadoCivil">Estado Civil</label>
                <select id="estadoCivil" name="estadoCivil" class="form-control" id="primeiroNome" placeholder="" required <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                  <option value="">Escolha...</option>
                  <option value="solteiro" <%= contratante.estadoCivil == 'solteiro' ? 'selected' : ''%>>Solteiro</option>
                  <option value="casado" <%= contratante.estadoCivil == 'casado' ? 'selected' : ''%>>Casado</option>
                  <option value="separado" <%= contratante.estadoCivil == 'separado' ? 'selected' : ''%>>Separado</option>
                  <option value="divorciado" <%= contratante.estadoCivil == 'divorciado' ? 'selected' : ''%>>Divorciado</option>
                  <option value="viuvo" <%= contratante.estadoCivil == 'viuvo' ? 'selected' : ''%>>Viúvo</option>
                </select>
                <div class="invalid-feedback">
                  É obrigatório inserir um estado civil válido.
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="cpf">CPF <span class="text-muted">(Sem Pontos e traços)</span></label>
                <input type="text" class="form-control" id="cpf" name="cpf" placeholder="31223456787"  value="<%= contratante.cpf %>" maxlength="11" size="11" required <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                <div class="invalid-feedback">
                  É obrigatório inserir um CPF válido.
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="(11)94637-3434" oninput="mascara(this, 'tel')" value="<%= contratante.telefone %>" required <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                <div class="invalid-feedback">
                  É obrigatório inserir um telefone válido.
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="profissao">Profissão</label>
                <input type="text" class="form-control" id="profissao" name="profissao" placeholder="Sua profissão aqui..." value="<%= contratante.profissao %>" required <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                <div class="invalid-feedback">
                  É obrigatório inserir uma profissão válido.
                </div>
              </div>

              <div class="col-md-8 mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="fulano@exemplo.com" value="<%= contratante.email %>" required <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                <div class="invalid-feedback">
                  É obrigatório inserir um email válido.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="endereco">Endereço</label>
              <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Rua dos bobos, nº 0" value="<%= contratante.enderecoResidencial %>" required <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
              <div class="invalid-feedback">
                É obrigatório inserir um endereço válido.
              </div>
            </div>

            <div class="mb-3">
              <label for="endereco2">Complemento</label>
              <input type="text" class="form-control" id="endereco2" name="endereco2" placeholder="Apartamento ou casa e bairro" value="<%= contratante.bairroResidencial %>" required <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
              <div class="invalid-feedback">
                É obrigatório inserir um complemento / bairro válido.
              </div>
            </div>

            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="pais">País</label>
                <select class="custom-select d-block w-100" id="pais" name="pais" required <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                  <option value="">Escolha...</option>
                  <option value="Brasil" selected>Brasil</option>
                </select>
                <div class="invalid-feedback">
                  Escolha um país válido.
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="estado">Estado</label>
                <select class="custom-select d-block w-100" id="estado" name="estado" required <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                  <option value="" <%= contratante.cidadeResidencial == '' ? 'selected' : ''%>>Escolha...</option>
                  <option value="AC" <%= contratante.cidadeResidencial == 'AC' ? 'selected' : ''%>>Acre</option>
                  <option value="AL" <%= contratante.cidadeResidencial == 'Al' ? 'selected' : ''%>>Alagoas</option>
                  <option value="AP" <%= contratante.cidadeResidencial == 'AP' ? 'selected' : ''%>>Amapá</option>
                  <option value="AM" <%= contratante.cidadeResidencial == 'AM' ? 'selected' : ''%>>Amazonas</option>
                  <option value="BA" <%= contratante.cidadeResidencial == 'BA' ? 'selected' : ''%>>Bahia</option>
                  <option value="CE" <%= contratante.cidadeResidencial == 'CE' ? 'selected' : ''%>>Ceará</option>
                  <option value="DF" <%= contratante.cidadeResidencial == 'DF' ? 'selected' : ''%>>Distrito Federal</option>
                  <option value="ES" <%= contratante.cidadeResidencial == 'ES' ? 'selected' : ''%>>Espírito Santo</option>
                  <option value="GO" <%= contratante.cidadeResidencial == 'GO' ? 'selected' : ''%>>Goiás</option>
                  <option value="MA" <%= contratante.cidadeResidencial == 'MA' ? 'selected' : ''%>>Maranhão</option>
                  <option value="MT" <%= contratante.cidadeResidencial == 'MT' ? 'selected' : ''%>>Mato Grosso</option>
                  <option value="MS" <%= contratante.cidadeResidencial == 'MS' ? 'selected' : ''%>>Mato Grosso do Sul</option>
                  <option value="MG" <%= contratante.cidadeResidencial == 'MG' ? 'selected' : ''%>>Minas Gerais</option>
                  <option value="PA" <%= contratante.cidadeResidencial == 'PA' ? 'selected' : ''%>>Pará</option>
                  <option value="PB" <%= contratante.cidadeResidencial == 'PB' ? 'selected' : ''%>>Paraíba</option>
                  <option value="PR" <%= contratante.cidadeResidencial == 'PR' ? 'selected' : ''%>>Paraná</option>
                  <option value="PE" <%= contratante.cidadeResidencial == 'PE' ? 'selected' : ''%>>Pernambuco</option>
                  <option value="PI" <%= contratante.cidadeResidencial == 'PI' ? 'selected' : ''%>>Piauí</option>
                  <option value="RJ" <%= contratante.cidadeResidencial == 'RJ' ? 'selected' : ''%>>Rio de Janeiro</option>
                  <option value="RN" <%= contratante.cidadeResidencial == 'RN' ? 'selected' : ''%>>Rio Grande do Norte</option>
                  <option value="RS" <%= contratante.cidadeResidencial == 'RS' ? 'selected' : ''%>>Rio Grande do Sul</option>
                  <option value="RO" <%= contratante.cidadeResidencial == 'RO' ? 'selected' : ''%>>Rondônia</option>
                  <option value="RR" <%= contratante.cidadeResidencial == 'RR' ? 'selected' : ''%>>Roraima</option>
                  <option value="SC" <%= contratante.cidadeResidencial == 'SC' ? 'selected' : ''%>>Santa Catarina</option>
                  <option value="SP" <%= contratante.cidadeResidencial == 'SP' ? 'selected' : ''%>>São Paulo</option>
                  <option value="SE" <%= contratante.cidadeResidencial == 'SE' ? 'selected' : ''%>>Sergipe</option>
                  <option value="TO" <%= contratante.cidadeResidencial == 'TO' ? 'selected' : ''%>>Tocantins</option>
                </select>
                <div class="invalid-feedback">
                  Por favor, insira um estado válido.
                </div>
              </div>

              <div class="col-md-3 mb-3">
                <label for="cep">CEP </label>
                <input type="text" class="form-control" id="cep" name="cep" placeholder="01567-000" oninput="mascara(this, 'cep')" value="<%= contratante.cepResidencial %>"required <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                <div class="invalid-feedback">
                  É obrigatório inserir um CEP.
                </div>
              </div>
            </div>

            <h4 class="mb-3">Item Segurado</h4>
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="itemSeguradoTipo">Tipo</label>
                <select onclick=itemSeguradoTipoSelecionado(this.value)  onblur=itemSeguradoTipoSelecionado(this.value)
                onchange=itemSeguradoTipoSelecionado(this.value) onkeypress=itemSeguradoTipoSelecionado(this.value)
                onmouseout=itemSeguradoTipoSelecionado(this.value)
                id="itemSeguradoTipo" name="itemSeguradoTipo" class="form-control" <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%> required>
                  <option value="" <%= itemSegurado.tipo == '' ? 'selected' : ''%>>Escolha...</option>
                  <option value="automovel" <%= itemSegurado.tipo == 'automovel' ? 'selected' : ''%>>Automovel</option>
                  <option value="vida" <%= itemSegurado.tipo == 'vida' ? 'selected' : ''%>>Vida</option>
                  <option value="residencia" <%= itemSegurado.tipo == 'residencia' ? 'selected' : ''%>>Residencia</option>
                  <option value="aparelho" <%= itemSegurado.tipo == 'aparelho' ? 'selected' : ''%>>Aparelhos Eletrônicos</option>
                </select>
                <div class="invalid-feedback">
                  É obrigatório inserir um valor válido.
                </div>
              </div>
            </div>


            <div class="itemAutomovel" style=<%= itemSegurado.tipo == 'automovel' ? 'display:block;' : 'display:none;'%>>
                <h5 class="mb-3">Automóvel</h5>
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <label for="fabricante">Fabricante</label>
                    <input type="text" class="form-control" id="fabricante" name="fabricante" placeholder="FIAT" value="<%= itemSegurado.automovel.fabricante %>" <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                    <div class="invalid-feedback">
                      É obrigatório inserir um valor válido.
                    </div>
                  </div>

                  <div class="col-md-4 mb-3">
                    <label for="modelo">Modelo</label>
                    <input type="text" class="form-control" id="modelo" name="modelo" placeholder="Uno Way" value="<%= itemSegurado.automovel.modelo %>" <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                    <div class="invalid-feedback">
                      É obrigatório inserir um valor válido.
                    </div>
                  </div>

                  <div class="col-md-4 mb-3">
                    <label for="cor">Cor</label>
                    <input type="text" class="form-control" id="cor" name="cor" placeholder="Preto" value="<%= itemSegurado.automovel.cor %>"  <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                    <div class="invalid-feedback">
                      É obrigatório inserir um valor válido.
                    </div>
                  </div>

                  <div class="col-md-4 mb-3">
                    <label for="anoModelo">Ano Modelo</label>
                    <select class="custom-select d-block w-100" id="anoModelo" name="anoModelo"  <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                      <option value="" <%= itemSegurado.automovel.anoModelo == '' ? 'selected' : ''%>>Escolha...</option>
                      <option value="2022" <%= itemSegurado.automovel.anoModelo == '2022' ? 'selected' : ''%>>2022</option>
                      <option value="2021" <%= itemSegurado.automovel.anoModelo == '2021' ? 'selected' : ''%>>2021</option>
                      <option value="2020" <%= itemSegurado.automovel.anoModelo == '2020' ? 'selected' : ''%>>2020</option>
                      <option value="2019" <%= itemSegurado.automovel.anoModelo == '2019' ? 'selected' : ''%>>2019</option>
                      <option value="2018" <%= itemSegurado.automovel.anoModelo == '2018' ? 'selected' : ''%>>2018</option>
                      <option value="2017" <%= itemSegurado.automovel.anoModelo == '2017' ? 'selected' : ''%>>2017</option>
                      <option value="2016" <%= itemSegurado.automovel.anoModelo == '2016' ? 'selected' : ''%>>2016</option>
                      <option value="2015" <%= itemSegurado.automovel.anoModelo == '2015' ? 'selected' : ''%>>2015</option>
                      <option value="2014" <%= itemSegurado.automovel.anoModelo == '2014' ? 'selected' : ''%>>2014</option>
                      <option value="2013" <%= itemSegurado.automovel.anoModelo == '2013' ? 'selected' : ''%>>2013</option>
                      <option value="2012" <%= itemSegurado.automovel.anoModelo == '2012' ? 'selected' : ''%>>2012</option>
                      <option value="2011" <%= itemSegurado.automovel.anoModelo == '2011' ? 'selected' : ''%>>2011</option>
                      <option value="2010" <%= itemSegurado.automovel.anoModelo == '2010' ? 'selected' : ''%>>2010</option>
                      <option value="2009" <%= itemSegurado.automovel.anoModelo == '2009' ? 'selected' : ''%>>2009</option>
                      <option value="2008" <%= itemSegurado.automovel.anoModelo == '2008' ? 'selected' : ''%>>2008</option>
                      </select>
                    <div class="invalid-feedback">
                      É obrigatório inserir um valor válido.
                    </div>
                  </div>

                  <div class="col-md-4 mb-3">
                    <label for="anoFabricacao">Ano Fabricação</label>
                    <select class="custom-select d-block w-100" id="anoFabricacao" name="anoFabricacao"  <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>> 
                      <option value="" <%= itemSegurado.automovel.anoFabricacao == '' ? 'selected' : ''%>>Escolha...</option>
                      <option value="2022" <%= itemSegurado.automovel.anoFabricacao == '2022' ? 'selected' : ''%>>2022</option>
                      <option value="2021" <%= itemSegurado.automovel.anoFabricacao == '2021' ? 'selected' : ''%>>2021</option>
                      <option value="2020" <%= itemSegurado.automovel.anoFabricacao == '2020' ? 'selected' : ''%>>2020</option>
                      <option value="2019" <%= itemSegurado.automovel.anoFabricacao == '2019' ? 'selected' : ''%>>2019</option>
                      <option value="2018" <%= itemSegurado.automovel.anoFabricacao == '2018' ? 'selected' : ''%>>2018</option>
                      <option value="2017" <%= itemSegurado.automovel.anoFabricacao == '2017' ? 'selected' : ''%>>2017</option>
                      <option value="2016" <%= itemSegurado.automovel.anoFabricacao == '2016' ? 'selected' : ''%>>2016</option>
                      <option value="2015" <%= itemSegurado.automovel.anoFabricacao == '2015' ? 'selected' : ''%>>2015</option>
                      <option value="2014" <%= itemSegurado.automovel.anoFabricacao == '2014' ? 'selected' : ''%>>2014</option>
                      <option value="2013" <%= itemSegurado.automovel.anoFabricacao == '2013' ? 'selected' : ''%>>2013</option>
                      <option value="2012" <%= itemSegurado.automovel.anoFabricacao == '2012' ? 'selected' : ''%>>2012</option>
                      <option value="2011" <%= itemSegurado.automovel.anoFabricacao == '2011' ? 'selected' : ''%>>2011</option>
                      <option value="2010" <%= itemSegurado.automovel.anoFabricacao == '2010' ? 'selected' : ''%>>2010</option>
                      <option value="2009" <%= itemSegurado.automovel.anoFabricacao == '2009' ? 'selected' : ''%>>2009</option>
                      <option value="2008" <%= itemSegurado.automovel.anoFabricacao == '2008' ? 'selected' : ''%>>2008</option>
                      </select>
                    <div class="invalid-feedback">
                      É obrigatório inserir um valor válido.
                    </div>
                  </div>
                </div>
              </div>

              <div class="itemVida" style=<%= itemSegurado.tipo == 'vida' ? 'display:block;' : 'display:none;'%>>
                <h5 class="mb-3">Vida</h5>
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <label for="itemPrimeiroNome">Nome</label>
                    <input type="text" class="form-control" id="itemPrimeiroNome" name="itemPrimeiroNome" placeholder=""  value="<%= itemSegurado.vida.primeiroNome %>"  <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                    <div class="invalid-feedback">
                      É obrigatório inserir um valor válido.
                    </div>
                  </div>

                  <div class="col-md-4 mb-3">
                    <label for="itemSobrenome">sobrenome</label>
                    <input type="text" class="form-control" id="itemSobrenome" name="itemSobrenome" placeholder=""  value="<%= itemSegurado.vida.sobrenome %>"  <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                    <div class="invalid-feedback">
                      É obrigatório inserir um valor válido.
                    </div>
                  </div>

                  <div class="col-md-4 mb-3">
                    <label for="itemDataDeNascimento">Nascimento</label>
                    <input type="date" class="form-control" id="itemDataDeNascimento" name="itemDataDeNascimento" placeholder=""  value="<%= itemSegurado.vida.dataDeNascimento %>" <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                    <div class="invalid-feedback">
                      É obrigatório inserir um valor válido.
                    </div>
                  </div>

                  <div class="col-md-4 mb-3">
                    <label for="itemEstadoCivil">Estado Civil</label>
                    <select id="itemEstadoCivil" name="itemEstadoCivil" class="form-control"  placeholder="" value="<%= itemSegurado.vida.estadoCivil %>"  <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                      <option value="" <%= itemSegurado.vida.estadoCivil == '' ? 'selected' : ''%>>Escolha...</option>
                      <option value="Solteiro" <%= itemSegurado.vida.estadoCivil == 'Solteiro' ? 'selected' : ''%>>Solteiro</option>
                      <option value="Casado" <%= itemSegurado.vida.estadoCivil == 'Casado' ? 'selected' : ''%>>Casado</option>
                      <option value="Separado" <%= itemSegurado.vida.estadoCivil == 'Separado' ? 'selected' : ''%>>Separado</option>
                      <option value="Divorciado" <%= itemSegurado.vida.estadoCivil == 'Divorciado' ? 'selected' : ''%>>Divorciado</option>
                      <option value="Viuvo" <%= itemSegurado.vida.estadoCivil == 'Viuvo' ? 'selected' : ''%>>Viúvo</option>
                    </select>
                    <div class="invalid-feedback">
                      É obrigatório inserir um estado civil válido.
                    </div>
                  </div>

                  <div class="col-md-4 mb-3">
                    <label for="cpfItem">CPF <span class="text-muted">(Sem Pontos e traços)</span></label>
                    <input type="text" class="form-control" id="cpfItem" name="cpfItem" placeholder="1234280189" value="<%= itemSegurado.vida.cpf %>" maxlength="11" size="11" <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                    <div class="invalid-feedback">
                      É obrigatório inserir um CPF válido.
                    </div>
                  </div>

                  <div class="col-md-4 mb-3">
                    <label for="profissaoItem">Profissão</label>
                    <input type="text" class="form-control" id="profissaoItem" name="profissaoItem" placeholder="" value="<%= itemSegurado.vida.profissao %>"  <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                    <div class="invalid-feedback">
                      É obrigatório inserir uma profissão válido.
                    </div>
                  </div>

                </div>
              </div>

              <div class="itemResidencia" style=<%= itemSegurado.tipo == 'residencia' ? 'display:block;' : 'display:none;'%>>
                <h5 class="mb-3">Esta funcionalidade ainda não esta liberada! </h5>
                <h6 class="mb-3 text-muted">Selecione os produtos Automovel ou Vida. </h6>
              </div>

              <div class="itemAparelho" style=<%= itemSegurado.tipo == 'aparelho' ? 'display:block;' : 'display:none;'%>>
                <h5 class="mb-3">Esta funcionalidade ainda não esta liberada! </h5>
                <h6 class="mb-3 text-muted">Selecione os produtos Automovel ou Vida. </h6>
              </div>

              <div class="itemCobertura" style=
                    <% if (itemSegurado.tipo === "automovel" || itemSegurado.tipo === "vida"){ %>
                      "display:block;" 
                    <% }else{  %> 
                      "display:none;"
                    <% } %>>
                <h5 class="mb-3">Coberturas</h5>
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <label for="BAS">Basica</label>
                    <select class="custom-select d-block w-100" id="BAS" name="BAS" required <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                      <option value="0.00" <%= cobertura.BAS == '0.00' ? 'selected' : ''%>>0.00</option>
                      <option value="1000.00" <%= cobertura.BAS == '1000.00' ? 'selected' : ''%>>1000.00</option>
                      <option value="5000.00" <%= cobertura.BAS == '5000.00' ? 'selected' : ''%>>5000.00</option>
                      <option value="10000.00" <%= cobertura.BAS == '10000.00' ? 'selected' : ''%>>10000.00</option>
                      <option value="15000.00" <%= cobertura.BAS == '15000.00' ? 'selected' : ''%>>15000.00</option>
                      <option value="20000.00" <%= cobertura.BAS == '20000.00' ? 'selected' : ''%>>20000.00</option>
                      <option value="25000.00" <%= cobertura.BAS == '25000.00' ? 'selected' : ''%>>25000.00</option>
                      <option value="30000.00" <%= cobertura.BAS == '30000.00' ? 'selected' : ''%>>30000.00</option>
                      <option value="35000.00" <%= cobertura.BAS == '35000.00' ? 'selected' : ''%>>35000.00</option>
                      <option value="40000.00" <%= cobertura.BAS == '40000.00' ? 'selected' : ''%>>40000.00</option>
                      <option value="45000.00" <%= cobertura.BAS == '45000.00' ? 'selected' : ''%>>45000.00</option>
                      <option value="50000.00" <%= cobertura.BAS == '50000.00' ? 'selected' : ''%>>50000.00</option>
                    </select>
                    <div class="invalid-feedback">
                      É obrigatório inserir um valor válido.
                    </div>
                  </div>

                  <div class="col-md-4 mb-3">
                    <label for="FURTO">Furto</label>
                    <select class="custom-select d-block w-100" id="FURTO" name="FURTO" required <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                      <option value="0.00" <%= cobertura.FURTO == '0.00' ? 'selected' : ''%>>0.00</option>
                      <option value="1000.00" <%= cobertura.FURTO == '1000.00' ? 'selected' : ''%>>1000.00</option>
                      <option value="2000.00" <%= cobertura.FURTO == '2000.00' ? 'selected' : ''%>>2000.00</option>
                      <option value="3000.00" <%= cobertura.FURTO == '3000.00' ? 'selected' : ''%>>3000.00</option>
                      <option value="4000.00" <%= cobertura.FURTO == '4000.00' ? 'selected' : ''%>>4000.00</option>
                      <option value="5000.00" <%= cobertura.FURTO == '5000.00' ? 'selected' : ''%>>5000.00</option>
                      <option value="6000.00" <%= cobertura.FURTO == '6000.00' ? 'selected' : ''%>>6000.00</option>
                      <option value="7000.00" <%= cobertura.FURTO == '7000.00' ? 'selected' : ''%>>7000.00</option>
                      <option value="8000.00" <%= cobertura.FURTO == '8000.00' ? 'selected' : ''%>>8000.00</option>
                      <option value="9000.00" <%= cobertura.FURTO == '9000.00' ? 'selected' : ''%>>9000.00</option>
                      <option value="10000.00" <%= cobertura.FURTO == '10000.00' ? 'selected' : ''%>>10000.00</option>
                    </select>
                    <div class="invalid-feedback">
                      É obrigatório inserir um valor válido.
                    </div>
                  </div>

                  <div class="col-md-4 mb-3">
                    <label for="MORTE">Morte</label>
                    <select class="custom-select d-block w-100" id="MORTE" name="MORTE" required <%= status == 'Calculado' || status == 'Emitido' ? 'disabled' : ''%>>
                      <option value="0.00" <%= cobertura.MORTE == '0.00' ? 'selected' : ''%>>0.00</option>
                      <option value="1000.00" <%= cobertura.MORTE == '1000.00' ? 'selected' : ''%>>1000.00</option>
                      <option value="5000.00" <%= cobertura.MORTE == '5000.00' ? 'selected' : ''%>>5000.00</option>
                      <option value="10000.00" <%= cobertura.MORTE == '10000.00' ? 'selected' : ''%>>10000.00</option>
                      <option value="15000.00" <%= cobertura.MORTE == '15000.00' ? 'selected' : ''%>>15000.00</option>
                      <option value="20000.00" <%= cobertura.MORTE == '20000.00' ? 'selected' : ''%>>20000.00</option>
                      <option value="25000.00" <%= cobertura.MORTE == '25000.00' ? 'selected' : ''%>>25000.00</option>
                      <option value="30000.00" <%= cobertura.MORTE == '30000.00' ? 'selected' : ''%>>30000.00</option>
                    </select>
                    <div class="invalid-feedback">
                      É obrigatório inserir um valor válido.
                    </div>
                  </div>
                </div>
              </div>


            <hr class="mb-4">

            <% if (status == "Novo" || status == "Criticado" || status == "Validado"){ %>
              <button class="btn btn-primary btn-lg btn-block btn-theme" name="cdi" onclick="javascript:document.getElementById('blanket').style.display = 'block';document.getElementById('aguarde').style.display = 'block';" type="submit">Calcular Proposta</button>
            <% }  %>  

          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2021-2021 SGS - TCC - PUC-MG</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacidade</a></li>
          <li class="list-inline-item"><a href="#">Termos</a></li>
          <li class="list-inline-item"><a href="#">Suporte</a></li>
        </ul>
      </footer>
    </br>
    </div>



    <!-- Principal JavaScript do Bootstrap
    ================================================== -->
    <!-- Foi colocado no final para a página carregar mais rápido -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/holder.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script>
      // Exemplo de JavaScript para desativar o envio do formulário, se tiver algum campo inválido.
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Selecione todos os campos que nós queremos aplicar estilos Bootstrap de validação customizados.
          var forms = document.getElementsByClassName('needs-validation');

          // Faz um loop neles e previne envio
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                document.getElementById("aguarde").style.display = "none";
                document.getElementById("blanket").style.display = "none";
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
    

  </body>
</html>
