<!DOCTYPE html>
<!--EJS Template da página de funcionalidades não liberadas-->
 <html lang="pt-br"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../img/favicon.ico">

    <title>Funcionalidade não liberada - SGS - Sistema de Gestão de Seguros</title>

    <!-- Principal CSS do Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body class="text-center">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <div class="container">

                    <img src="../img/notFunc.jpg" alt="" width="400" height="400">  
                    
                    <h1>Oops!</h1>
                    <h2><%= menssagem %></h2>
                    <div class="error-details">
                        Desculpe, ocorreu um erro, a funcionalidade selecionada não contempla a lista de funcionalidades escolhida.
                    </div>
                    &nbsp;
                    
                    <div class="error-actions">
                      <a href="/home" class="btn btn-primary btn-lg" target="_parent"><span class="glyphicon glyphicon-home"></span>
                          Voltar...</a>

                  </div>

    </div>



   
</body></html>