<!DOCTYPE html>
<!--EJS Template da página de login-->
 <html lang="pt-br"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../img/favicon.ico">

    <title>Login - SGS - Sistema de Gestão de Seguros</title>

    <!-- Principal CSS do Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Estilos customizados para esse template -->
    <link href="../css/login.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" action="/home" method="post">
      <img class="mb-4" src="../img/SGS-logo.png" alt="" width="320" height="100">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <h1 class="h3 mb-3 font-weight-normal">Faça login</h1>
      <label for="inputUser" class="sr-only">Usuário</label>
      <input type="text" id="inputUser" name="inputUser" class="form-control" placeholder="Seu usuário" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Senha</label>
      <input type="password" id="inputPassword" name="inputPassword"class="form-control" placeholder="Senha" required="">
      
      <% if(mensagem !=  null){ %>
        <div class="alert alert-danger" role="alert">
          <%= mensagem %>
        </div>
      <% } %>  

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" name="remember-me"> Lembrar de mim
        </label>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      <p class="mt-5 mb-3 text-muted">© 2022-2022 - TCC - PUC MINAS</p>
    </form>
  
</body></html>