<!DOCTYPE html>
<!--EJS Template da página principal-->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Main Page - SGS - Sistema de Gestão de Seguro</title>


    <!-- Bootstrap core CSS -->
<link href="../css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="../css/jumbotron.css" rel="stylesheet">
  </head>
  <body style="margin:0;padding:0">
  
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Olá, <%= usuario %></h1>
      <p>Bem vindo ao Sistema de Gestão de Seguros. Aqui é a sua página principal, onde vc encontrará ações rapidas para atender o seu dia a dia.</p>
      <p><a class="btn btn-primary btn-lg" href="/emisNV" role="button" target="frame">Emitir Seguro Novo »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Pendências</h2>
        <p>Você não possui pendências!</p>
        <p>Aqui você verá todos os seguros Novos e que ainda estão pendentes analise e emissão. Qualquer dúvida acesse a documentáo de pendencias.</p>            
        <p><a class="btn btn-secondary" href="/notFunc?page=pend" role="button" target="frame">Veja detalhes »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Relatórios</h2>
        <p>Você não possui relatórios em execução!</p>
        <p>Aqui você verá todos os relatorios que ainda estão em execução em segundo planlo. Qualquer dúvida acesse a documentáo de relatórios.</p>                 
        <p><a class="btn btn-secondary" href="/notFunc?page=rel" role="button" target="frame">Veja detalhes »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Aprovações</h2>
        <p>Nenhuma aprovação pendente!</p>
        <p>Aqui você verá todos as aprovações pendentes que seu usuário tem acesso de executar. Qualquer dúvida acesse a documentáo de aprovações.</p>         
        <p><a class="btn btn-secondary" href="/notFunc?page=aprov" role="button" target="frame">Veja detalhes »</a></p>
      </div>
    </div>

    <hr>

  </div> 

</main>

<footer class="container">
  <p>© TCC - PUC - Minas -  2021-2021</p>
</footer>
</body></html>